* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

button{
    cursor: pointer;
}

.extension{
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    height: 35px;
    background: linear-gradient(90deg, #e62e04 0%, #802f09 40%, #db6301 100%);
    color: white;
    font-family: Inter,SF Pro Text,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    font-size: large;
}

.extension button{
    height: 20px;
    border: 2px solid white;
    border-radius: 50px;
    background-color: white;
    color: black;
    padding: 0 12px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 8px 16px;
}

.navL{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.nav1 button, .navR button, .nav2 button{
    border: none;
    background-color: transparent;
    padding: 8px 11px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    color: inherit;
}

.navR {
  display: flex;
  flex-direction: column; 
  align-items: flex-end; 
}

.navR-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.nav2 {
  display: flex;
  justify-content: flex-end;
  gap: 1px;
  width: 100%;
}


.navR img{
    height: 10px;
    width: auto;
}

.alibaba_logo {
    display: block;
    height: 28px;
    width: auto;
    padding-bottom: 12px;
}

.alibaba_logo h3{
    display: inline;
}

.alibaba_png{
    height: 20px;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.navR button.createAcc{
    border: 2px solid #f60;
    background-color: #f60;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    border-radius: 50px;
}

.content, .content1, .content2, .content3, .content4{
    background-color: black;   /* Temporary */
    color: white;
    padding-left: 60px;
}
nav{
    border: 2px solid white;
}

.content{
    height: 505px;
}

.content1 h2{
    color: white;
}

.content1 img{
    width: 33px;
    height: 25px;
    padding-right: 8px;
}

.content1{
    background-color: black;
    display: flex;
    align-items: center;
    font-family: Inter,SF Pro Text,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    font-size: x-small;
    width: fit-content;
    padding-top: 100px;
}

.content2{
    font-family: Inter,SF Pro Text,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    font-size: x-large;
    width: fit-content;
    padding-top: 10px;
}

.content2 h1{
    margin: 0;
}

.content3{
    background-color: white;
    border-radius: 30px;
    border-width: 2px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    height: auto;
    margin-left: 60px;
    margin-top: 35px;
    padding: 4px 14px;
}

.content3_search_upload{
    display: flex;
    align-items: center;
    gap: 1px;
}

.content3 .camera_upload {
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

.content3 input{
    border: none;
    background-color: transparent;
}

.camera_upload img{
    width: 25px;
    height: auto;
}

.search_img{
    width: 110px;
    height: 40px;
    background-color: #f60;
    border-color: #f60;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Inter,SF Pro Text,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    gap: 4px;
}

.content4{
    display: flex;
    align-items: center;
    gap: 18px;
    font-family: Inter,SF Pro Text,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    margin-top: 12px;
    padding-top: 20px;
}

.content4 h4 {
    margin: 0;
    color: white;
}

.content4 button{
    border: 1px solid white;
    border-radius: 50px;
    background-color: transparent;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
}